@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #0a0a0a, #002703);
}

.calcMania{
    border: 1px solid #3f4041;
    padding: 20px;
    border-radius: 16px;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(202, 191, 153, 0.151);
}

input{
    width: 320px;
    border: none;
    padding: 24px;
    margin: 10px;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(202, 191, 153, 0.151);
    font-size: 40px;
    text-align: right;
    cursor: pointer;
    color: #ffffff;
}

input::placeholder{
    color: #ffffff;
}

button{
    border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 50%;
    background: transparent;
    color: #ffffff;
    font-size: 20px;
    box-shadow: -8px -8px 15px rgba(202, 191, 153, 0.151);
    cursor: pointer;
}

button:hover{
    color: #060122;
    font-weight: lighter;
    background-color: rgb(119, 221, 105);
}

.equalBtn{
    background-color: rgb(90, 90, 88);
    color: #141414;
}

.equalBtn:hover{
    background-color: #141414;
    color: rgb(90, 90, 88);
}

.operator{
    color: #000000;
    background-color: #9e815a;
}

.operator:hover{
    color: #9e815a;
    font-weight: lighter;
    background-color: #000000;
}